:root {
    --primary-color: #03038b;
    --primary-2-color: #08085a;
    --secondary-color: #fafbfe;
    --subs-color: #252525;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

h2 {
    font-weight: 700 !important;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

h6, .chart-head i {
    color: #6e6e6e;
}

ul, li {
    list-style-type: none !important;
}

body {
    font-family: 'Poppins', sans-serif;
}

.btn-sys-primary {
    width: 150px;
    color: var(--secondary-color) !important;
    background-color: var(--primary-2-color) !important;
}

.btn-sys-primary:hover {
    background-color: #08085ab0 !important;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: var(--secondary-color);
}

a.active {
    background-color: #00000081;
    color: #3b7ddd !important;
    border-left: 3px solid #3b7ddd !important;
}