{% extends 'base.html' %}  
{% block pageTitle %}
    User Details
{% endblock %}

{% block content %}
<div class="py-5">
  <div class="card shadow">
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">Full Name</dt>
        <dd class="col-sm-9">{{ user.first_name }} {{ user.last_name }}</dd>

        <dt class="col-sm-3">Username</dt>
        <dd class="col-sm-9">{{ user.username }}</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">{{ user.email }}</dd>

        <dt class="col-sm-3">Phone Number</dt>
        <dd class="col-sm-9">{{ user.phone }}</dd>

        <dt class="col-sm-3">Role</dt>
        <dd class="col-sm-9 text-capitalize">{{ user.role }}</dd>

        <dt class="col-sm-3">Notes</dt>
        <dd class="col-sm-9">{{ user.notes|default:"No additional notes" }}</dd>

        <dt class="col-sm-3">Date Joined</dt>
        <dd class="col-sm-9">{{ user.date_joined }}</dd>

        <dt class="col-sm-3">Last Login</dt>
        <dd class="col-sm-9">{{ user.last_login|default:"Never" }}</dd>
      </dl>

      <a href="{% url 'users_management_view' %}" class="btn btn-secondary mt-3">
        <i class="bi bi-arrow-left"></i> Back to Users
      </a>
    </div>
  </div>
</div>
{% endblock %}
